<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tic Tac Toe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D745E0A1B45C08300F9CBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D745E1E1B45C08300F9CBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D745E291B45C08300F9CBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
